.select__block {
  width: 100%;
  max-width: 450px;
  margin: 20px;
}

.select__block label {
  font-size: 1.4rem;
  line-height: 2rem;
}

.select__block select {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  border-radius: 0;
  margin: 5px 0;
}
